* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins",sans-serif ;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #283747;
    color: #fff;
}

.container {
    position: relative;
}

.clock {
    border: 2px solid rgba(255, 255, 255, 0.25);
    width: 370px;
    height: 370px;
    border-radius: 50%;
    background-color:#1c2833;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;

}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg *var(--i)));
    inset: 12px;
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg*var(--i)));
    display: inline-block;
    font-size: 1.3rem;
}
.clock::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
}
.hands {
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
}
.hands i{
    position: absolute;
    background:#fff ;
    width: 5px;
    height:70px;
    border-radius: 70px;
    background: var(--clr);
    height: var(--h);
}
